@using System.Data;
@using WEB.Models;
@{
    ViewBag.Title = "__tblIndex";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var list_level = (List<objCombox>)Session["list_level_lg"];
}

<div id="example-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover dataTable" id="example-table" cellspacing="0" width="100%" role="grid" aria-describedby="example-table_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 140.5px;"><input type="checkbox" id="checkall" onchange="checkall()" name="checkall[]" /></th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 200.5px;">Ảnh</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 250.5px;">Tên chuyên mục</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 105.5px;">Cấp cha</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 105.5px;">Thứ tự</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 105.5px;">Trạng thái</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 101.5px;">Trang chủ</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 160.5px;">App</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 160.5px;">Chức năng</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        if (Model != null)
                        {
                            var dt = Model as DataTable;
                            if (dt.Rows.Count > 0)
                            {
                                var i = 0;
                                foreach (DataRow item in dt.Rows)
                                {
                                    <tr id="row_@i">
                                        <td class="text-center" style="width: 10px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                            <input type="checkbox" id="_@i" onchange="" name="check[]" value="@item["ID"]" />
                                        </td>
                                        <td class="text-center" style="width: 50px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                            @if (@item["Images"].ToString() != "")
                                            {
                                                <img height="60px" src="@item["Images"]" alt="" class="content" />
                                            }
                                            else
                                            {
                                                <img height="60px" src="~/images/admin/no-image.jpg" alt="" class="content" />
                                            }
                                        </td>
                                        <td class="text-left" style="width:100px;  overflow: hidden;white-space: nowrap" id="">
                                            @Html.Raw(Comond.Hienthihinhcay(item["Name"].ToString(), item["Level"].ToString()))
                                        </td>
                                        <td class="text-center" style="width: 100px;  overflow: hidden;white-space: nowrap">
                                            <select class="form-control valid" name="Parent" id="" aria-invalid="false" style="width:230px;">
                                                @if (list_level != null)
                                                {
                                                    <option value=""> -- Chọn lớp cha -- </option>
                                                    foreach (objCombox box in (List<objCombox>)list_level)
                                                    {
                                                        <option @(item["Parent_ID"].ToString().Trim() == box.Code.ToString().Trim() ? "selected" : String.Empty) value="@box.Code - @box.Level">@box.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td class="text-center" style="width: 60px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                            @item["Orders"]
                                        </td>

                                        <td class="text-center" style="width: 50px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                            @if (item["Status"].ToString() != "0")
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" checked />
                                            }
                                        </td>
                                        <td class="text-center" style="width: 50px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                            @if (item["Status"].ToString() != "0")
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" checked />
                                            }
                                        </td>
                                        <td class="text-center" style="width: 50px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                            @if (item["Status"].ToString() != "0")
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="_@i" onchange="" name="check1[]" value="@item["Status"]" checked />
                                            }
                                        </td>

                                        <td class="text-center" style="width:65px; max-width: 65px;  overflow: hidden;white-space: nowrap">
                                            <div class="row">
                                                <a class="add" href="/ListGroup/Create?Parent_ID=@item["ID"]"><i class="fa-solid fa-plus col-md-1"></i></a>
                                                <a href="/ListGroup/Update?id=@item["ID"]"><i class="fa-solid fa-pen-to-square col-md-1"></i></a>
                                                <a id="iddel" data-toggle="modal" data-target="#myModal" onclick=" check(@i);"><i class="fa-solid fa-trash-can col-md-1"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Bạn muốn xóa bản ghi này không?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            @*<div class="modal-body">
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="js_acceptDeleteRow();">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function check(r) {
        $('#_' + r).filter(':checkbox').prop('checked', true);
    }
</script>